<!DOCTYPE html>
<html lang="ko">
  <!-- include : head -->
  <%- include('includes/head') %>

  <body>
    <!-- include : preloder -->
    <%- include('includes/preloder') %>

    <!-- include : header -->
    <%- include('includes/header') %>

    <!-- include : hero -->
    <%- include('includes/hero') %>

    <!-- Breadcrumb Section Begin -->
    <section class="breadcrumb-section set-bg" data-setbg="img/breadcrumb.jpg">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <div class="breadcrumb__text">
              <h2>좋아요한 상품</h2>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Breadcrumb Section End -->

    <!-- Shoping Cart Section Begin -->
    <section class="shoping-cart spad">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="shoping__cart__table">
              <table>
                <thead>
                  <tr>
                    <th class="shoping__product">상품</th>
                    <th>가격</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <% myLikes.forEach(like => { %>
                  <tr>
                    <td class="shoping__cart__item">
                      <img
                        src="<%= like.product.product_image[0].url %>"
                        alt=""
                      />
                      <div>
                        <a
                          href="/contact/<%= like.product.shop.id %>"
                          style="display: block"
                          ><i class="fa fa-home" aria-hidden="true"></i> <%=
                          like.product.shop.shop_name %></a
                        >
                        <small style="display: block"
                          >카테고리: <%= like.product.category.category_name
                          %></small
                        >
                        <h5>
                          <a href="/product-detail/<%= like.product.id %>"
                            ><%= like.product.product_name %></a
                          >
                        </h5>
                      </div>
                    </td>
                    <td class="shoping__cart__price">
                      <%= like.product.product_price.toLocaleString() %> 원
                    </td>
                    <td class="shoping__cart__item__close">
                      <span class="icon_close"></span>
                    </td>
                  </tr>
                  <% }); %>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Shoping Cart Section End -->

    <!-- include : footer -->
    <%- include('includes/footer') %>
  </body>
</html>
