<!DOCTYPE html>
<html lang="ko">
  <!-- include : head -->
  <%- include('includes/head') %>

  <body>
    <!-- include : top-button -->
    <%- include('includes/top-button') %>

    <!-- include : preloder -->
    <%- include('includes/preloder') %>

    <!-- include : header -->
    <%- include('includes/header') %>

    <!-- include : hero-normal -->
    <%- include('includes/hero') %>

    <!-- Product Details Section Begin -->
    <section class="product-details spad">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 col-md-6">
            <div class="product__details__pic">
              <div class="product__details__pic__item">
                <img
                  class="product__details__pic__item--large"
                  src="<%- product.product_image[0].url %>"
                  alt=""
                />
              </div>
              <div class="product__details__pic__slider owl-carousel">
                <% if (product.product_image && product.product_image.length >
                0) { %> <% let index = 1; %> <% for (const image of
                product.product_image) { %>
                <img
                  data-imgbigurl="<%= image.url %>"
                  src="<%= image.url %>"
                  alt=""
                />
                <% index++; %> <% } %> <% } %>
                <!-- <img
                  data-imgbigurl="/img/product/details/product-details-4.jpg"
                  src="/img/product/details/thumb-4.jpg"
                  alt=""
                /> -->
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-md-6">
            <div class="product__details__text">
              <h3><%= product.product_name %></h3>
              <div class="product__details__rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-half-o"></i>
                <span>(18 reviews)</span>
              </div>
              <div class="product__details__price">
                <%- product.product_price.toLocaleString() %><span
                  class="price-text"
                  >원</span
                >
              </div>
              <div class="text-box">
                <p>카테고리: <%- product.category.category_name %></p>
                <p>원산지: <%- product.product_domestic %></p>
              </div>
              <div class="product__details__quantity">
                <div class="quantity">
                  <div class="pro-qty">
                    <input type="text" value="1" />
                  </div>
                </div>
              </div>
              <a href="#" class="primary-btn">ADD TO CARD</a>
              <a href="#" class="heart-icon"
                ><span class="icon_heart_alt"></span
              ></a>
              <ul>
                <li>
                  <b>스토어</b>
                  <span>
                    <a
                      href="/contact/<%=
                    product.shop.id %>"
                    >
                      <i class="fa fa-home mr-2" aria-hidden="true"></i><%=
                      product.shop.shop_name %>
                    </a>
                  </span>
                </li>
                <li>
                  <b>스토어 정보</b> <span><%= product.shop.shop_desc %></span>
                </li>
                <li>
                  <b>판매자 이름</b>
                  <span><%= product.shop.user.name %></span>
                </li>
                <li>
                  <b>판매자 전화번호</b>
                  <span><%= product.shop.user.phone_number %></span>
                </li>
                <li>
                  <b>Share on</b>
                  <div class="share">
                    <a href="#"
                      ><i class="fa fa-link" aria-hidden="true"></i
                    ></a>
                    <a href="#"><i class="fa fa-facebook"></i></a>
                    <a href="#"><i class="fa fa-twitter"></i></a>
                    <a href="#"><i class="fa fa-instagram"></i></a>
                    <a href="#"><i class="fa fa-pinterest"></i></a>
                  </div>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-lg-12 sticky-wrap">
            <div class="product__details__tab">
              <ul class="nav nav-tabs" role="tablist">
                <li class="nav-item">
                  <a
                    class="nav-link active"
                    data-toggle="tab"
                    href="#tabs-1"
                    role="tab"
                    aria-selected="true"
                    >Description</a
                  >
                </li>
                <li class="nav-item">
                  <a
                    class="nav-link"
                    data-toggle="tab"
                    href="#tabs-3"
                    role="tab"
                    aria-selected="false"
                    >Reviews <span>(1)</span></a
                  >
                </li>
                <li class="nav-item">
                  <a
                    class="nav-link"
                    data-toggle="tab"
                    href="#tabs-2"
                    role="tab"
                    aria-selected="false"
                    >상품문의 (2)</a
                  >
                </li>
              </ul>
              <div class="tab-content">
                <!-- description -->
                <div class="tab-pane active" id="tabs-1" role="tabpanel">
                  <div class="product__details__tab__desc">
                    <%- product.product_desc .replace(/&amp;/g, '&')
                    .replace(/&lt;/g, '<') .replace(/&gt;/g, '>') %>
                  </div>
                </div>
                <!-- 리뷰 -->
                <div class="tab-pane" id="tabs-3" role="tabpanel">
                  <div class="product__details__tab__desc">
                    <div class="comments-area">
                      <div class="list-comment">
                        <h6>Reviews (1)</h6>
                        <!-- TODO :: comment 없을시 하단 내용 보이도록 -->
                        <!-- <div class="list-comment empty"></div> -->
                        <ul class="list-comment">
                          <li class="item-comment">
                            <div class="title-wrap">
                              <div class="profile-img-wrap">
                                <img
                                  src="https://images.chosun.com/resizer/mllCG6ewJwOYHFeZofvofp458Oo=/616x0/smart/cloudfront-ap-northeast-1.images.arcpublishing.com/chosun/WXCEKPWV2VH4VPHWYDKXDVFDZY.jpg"
                                  alt=""
                                />
                              </div>
                              <p>인테리어 꿈나무</p>
                            </div>
                            <ul class="review-img-list">
                              <!-- TODO :: 최대 3 개 -->
                              <li class="review-img-item">
                                <img
                                  src="https://recipe1.ezmember.co.kr/cache/recipe/2017/08/21/bedeb8d013baef5cdb6dc5be824c34201.jpg"
                                  alt=""
                                />
                              </li>
                              <li class="review-img-item">
                                <img
                                  src="https://recipe1.ezmember.co.kr/cache/recipe/2017/08/21/bedeb8d013baef5cdb6dc5be824c34201.jpg"
                                  alt=""
                                />
                              </li>
                              <li class="review-img-item">
                                <img
                                  src="https://recipe1.ezmember.co.kr/cache/recipe/2017/08/21/bedeb8d013baef5cdb6dc5be824c34201.jpg"
                                  alt=""
                                />
                              </li>
                            </ul>
                            <p class="comment-rating">⭐️⭐️⭐️⭐️⭐️</p>
                            <p class="comment-txt">
                              휴양지카페 느낌 플러스 이국적인 유럽풍의
                              주방인테리어 완전 제 꿈의 주방이네요.우드질감의
                              씽크대와 색감, 아치형 확장베란다에 홈카페수
                              휴양지카페 느낌 플러스 이국적인 유럽풍의
                              주방인테리어 완전 제 꿈의 주방이네요.우드질감의
                              씽크대와 색감, 아치형 확장베란다에 홈카페수
                              휴양지카페 느낌 플러스 이국적인 유럽풍의
                              주방인테리어 완전 제 꿈의 주방이네요.우드질감의
                              씽크대와 색감, 아치형 확장베란다에 홈카페수
                              휴양지카페 느낌 플러스 이국적인 유럽풍의
                              주방인테리어 완전 제 꿈의 주방이네요.우드질감의
                              씽크대와 색감, 아치형 확장베란다에 홈카페수
                            </p>
                            <div class="comment-date content-right">
                              <p>작성일 : 2023.08.19</p>
                            </div>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- Q&A -->
                <div class="tab-pane" id="tabs-2" role="tabpanel">
                  <div class="product__details__tab__desc">
                    <h6>상품문의</h6>
                    <ul class="qna">
                      <li>
                        <input type="checkbox" id="qna-1" />
                        <label for="qna-1">
                          <span class="title">빨간색이 무슨 빨간색임요</span>
                          <span>작성자뀨</span>
                          <span class="comment-date">2022.03.23</span>
                        </label>
                        <div>
                          <p>
                            다른 사람 명의로는 환불할 수 없습니다. 고객님 본인
                            명의 계좌로만 환불이 가능합니다.
                          </p>
                        </div>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Product Details Section End -->

    <!-- Related Product Section Begin -->
    <section class="related-product">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="section-title related__product__title">
              <h2>Related Product</h2>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-3 col-md-4 col-sm-6">
            <div class="product__item">
              <div
                class="product__item__pic set-bg"
                data-setbg="/img/product/product-1.jpg"
              >
                <ul class="product__item__pic__hover">
                  <li>
                    <a href="#"><i class="fa fa-heart"></i></a>
                  </li>
                  <li>
                    <a href="#"><i class="fa fa-retweet"></i></a>
                  </li>
                  <li>
                    <a href="#"><i class="fa fa-shopping-cart"></i></a>
                  </li>
                </ul>
              </div>
              <div class="product__item__text">
                <h6><a href="#">Crab Pool Security</a></h6>
                <h5>$30.00</h5>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 col-sm-6">
            <div class="product__item">
              <div
                class="product__item__pic set-bg"
                data-setbg="/img/product/product-2.jpg"
              >
                <ul class="product__item__pic__hover">
                  <li>
                    <a href="#"><i class="fa fa-heart"></i></a>
                  </li>
                  <li>
                    <a href="#"><i class="fa fa-retweet"></i></a>
                  </li>
                  <li>
                    <a href="#"><i class="fa fa-shopping-cart"></i></a>
                  </li>
                </ul>
              </div>
              <div class="product__item__text">
                <h6><a href="#">Crab Pool Security</a></h6>
                <h5>$30.00</h5>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 col-sm-6">
            <div class="product__item">
              <div
                class="product__item__pic set-bg"
                data-setbg="/img/product/product-3.jpg"
              >
                <ul class="product__item__pic__hover">
                  <li>
                    <a href="#"><i class="fa fa-heart"></i></a>
                  </li>
                  <li>
                    <a href="#"><i class="fa fa-retweet"></i></a>
                  </li>
                  <li>
                    <a href="#"><i class="fa fa-shopping-cart"></i></a>
                  </li>
                </ul>
              </div>
              <div class="product__item__text">
                <h6><a href="#">Crab Pool Security</a></h6>
                <h5>$30.00</h5>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 col-sm-6">
            <div class="product__item">
              <div
                class="product__item__pic set-bg"
                data-setbg="/img/product/product-7.jpg"
              >
                <ul class="product__item__pic__hover">
                  <li>
                    <a href="#"><i class="fa fa-heart"></i></a>
                  </li>
                  <li>
                    <a href="#"><i class="fa fa-retweet"></i></a>
                  </li>
                  <li>
                    <a href="#"><i class="fa fa-shopping-cart"></i></a>
                  </li>
                </ul>
              </div>
              <div class="product__item__text">
                <h6><a href="#">Crab Pool Security</a></h6>
                <h5>$30.00</h5>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Related Product Section End -->

    <!-- include : footer -->
    <%- include('includes/footer') %>

    <script></script>
  </body>
</html>
