<!DOCTYPE html>
<html lang="ko">
<!-- include : head -->
<%- include('includes/head') %>

  <body>
    <!-- include : top-button -->
    <%- include('includes/top-button') %>

      <!-- include : preloder -->
      <%- include('includes/preloder') %>

        <!-- include : header -->
        <%- include('includes/header') %>

          <!-- include : hero-normal -->
          <%- include('includes/hero') %>

            <!-- include : viewed-products -->
            <%- include('includes/viewed-products') %>

              <!-- Product Details Section Begin -->
              <section class="product-details spad">
                <div class="container">
                  <div class="row">
                    <div class="col-lg-6 col-md-6">
                      <div class="product__details__pic">
                        <div class="product__details__pic__item">
                          <img class="product__details__pic__item--large" src="<%- product.product_image[0].url %>"
                            alt="" />
                        </div>
                        <div class="product__details__pic__slider owl-carousel">
                          <% if (product.product_image && product.product_image.length>
                            0) { %> <% product.product_image.forEach((image, index)=> { %>
                              <img id="productImg" data-imgbigurl="<%= image.url %>" src="<%= image.url %>" alt="" />
                              <% }); %>
                                <% } %>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                      <div class="product__details__text">
                        <h3>
                          <%= product.product_name %>
                        </h3>
                        <div class="product__details__rating" style="display: flex; align-items: bottom">
                          <%= '⭐ ' .repeat(reviewRating) %>
                            </i>
                            <span style="font-size: 14px; font-weight: 600; color: #555;">(<%= reviewRating.toFixed(1)
                                %>)</span>
                            <span style="margin-left: 10px; font-size: 14px;text-decoration: underline; color: #222;">리뷰
                              총 <%= reviews.length %> 건</span>
                        </div>
                        <div class="product__details__price">
                          <%- product.product_price.toLocaleString() %><span class="price-text">원</span>
                        </div>
                        <div class="text-box">
                          <p>카테고리: <%- product.category.category_name %></p>
                          <p>원산지: <%- product.product_domestic %></p>
                        </div>
                        <div class="product__details__quantity">
                          <div class="quantity">
                            <div class="pro-qty">
                              <input type="text" id="quantity_num" value="1" />
                            </div>
                          </div>
                        </div>
                        <a href="#" id="addCartBtn" class="primary-btn">ADD TO CART</a>
                        <button type="button" id="btnLike" class="heart-icon" data-item-id="<%- product.id %>">
                          ❤️
                        </button>
                        <ul>
                          <li>
                            <b>스토어</b>
                            <span>
                              <a href="/contact/<%=
                    product.shop.id %>">
                                <i class="fa fa-home mr-2" aria-hidden="true"></i>
                                <%= product.shop.shop_name %>
                              </a>
                            </span>
                          </li>
                          <li>
                            <b>스토어 정보</b> <span>
                              <%= product.shop.shop_desc %>
                            </span>
                          </li>
                          <li>
                            <b>판매자 이름</b>
                            <span>
                              <%= product.shop.user.name %>
                            </span>
                          </li>
                          <li>
                            <b>판매자 전화번호</b>
                            <span>
                              <%= product.shop.user.phone_number %>
                            </span>
                          </li>
                          <li>
                            <b>Share on</b>
                            <div class="share">
                              <a href="#"><i class="fa fa-link" aria-hidden="true"></i></a>
                              <a href="#"><i class="fa fa-facebook"></i></a>
                              <a href="#"><i class="fa fa-twitter"></i></a>
                              <a href="#"><i class="fa fa-instagram"></i></a>
                              <a href="#"><i class="fa fa-pinterest"></i></a>
                            </div>
                          </li>
                        </ul>
                      </div>
                    </div>
                    <div class="col-lg-12 sticky-wrap">
                      <div class="product__details__tab">
                        <ul class="nav nav-tabs" role="tablist">
                          <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" href="#tabs-1" role="tab"
                              aria-selected="true">Description</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#tabs-3" role="tab"
                              aria-selected="false">Reviews <span>(<%= reviews.length %>)</span></a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#tabs-2" role="tab" aria-selected="false">상품문의
                              (2)</a>
                          </li>
                        </ul>
                        <div class="tab-content">
                          <!-- description -->
                          <div class="tab-pane active" id="tabs-1" role="tabpanel">
                            <div class="product__details__tab__desc">
                              <%- product.product_desc .replace(/&amp;/g, '&' ) .replace(/&lt;/g, '<' )
                                .replace(/&gt;/g, '>' ) %>
                            </div>
                          </div>
                          <!-- 리뷰 -->
                          <div class="tab-pane" id="tabs-3" role="tabpanel">
                            <div class="product__details__tab__desc">
                              <div class="comments-area">
                                <div class="list-comment">
                                  <h6>Reviews (<%= reviews.length %>)</h6>
                                  <% if (reviews.length===0) { %>
                                    <div class="list-comment empty"></div>
                                    <% } %>
                                      <ul class="list-comment">
                                        <% reviews.forEach(review=> { %>
                                          <li class="item-comment">
                                            <div class="title-wrap">
                                              <div class="profile-img-wrap">
                                                <img src="<%= review.user.profile_image %>" alt="유저 프로필">
                                              </div>
                                              <p>
                                                <%= review.user.name %>
                                              </p>
                                            </div>
                                            <% if (review.review_image) { %>
                                              <ul class="review-img-list">
                                                <% review.review_image.forEach((reviewImage)=> { %>
                                                  <li class="review-img-item">
                                                    <img src="<%= reviewImage.url %>" alt="" />
                                                  </li>
                                                  <% }) %>
                                              </ul>
                                              <% } %>
                                                <p class="comment-rating">
                                                  <%= '⭐ ' .repeat(review.review_rating) %>
                                                </p>
                                                <p class="comment-txt">
                                                  <%= review.review_content %>
                                                </p>
                                                <div class="comment-date content-right">
                                                  <p>작성일 : <%= review.created_at.toISOString().substr(0, 10) %>
                                                  </p>
                                                </div>
                                          </li>
                                          <% }); %>
                                      </ul>
                                </div>
                              </div>
                            </div>
                          </div>
                          <!-- 상품문의 -->
                          <div class="tab-pane" id="tabs-2" role="tabpanel">
                            <style>
                              .product-qna {
                                display: flex;
                                flex-direction: row;
                                border: 1px solid #ccc;
                                padding: 3px;
                              }
                              .qna-header {
                                flex: 1;
                                display: flex;
                                flex-direction: column;
                                align-items: center;
                                border-right: 1px solid #ccc; 
                                padding: 3px;
                              }
                              .qna-label {
                                font-weight: bold;
                              }
                              #addQuestionButton {
                                margin-top: 10px;
                              }
                            </style>
                            <div class="product__details__tab__desc">
                              <!-- 상품문의 내용 -->
                              <% if (productQnAs && productQnAs.length > 0) { %>
                                <% productQnAs.forEach((qna, index) => { %>
                                  <div class="product-qna" data-qna-id="<%= qna.id %>">
                                    <div class="qna-header">
                                      <div class="qna-label">작성일</div>
                                      <span class="qna-created"><%= qna.created_at.toISOString().substr(0, 10) %></span>
                                    </div>
                                    <div class="qna-header">
                                      <div class="qna-label">제목</div>
                                      <span class="qna-name"><%= qna.qna_name %></span>
                                    </div>
                                    <div class="qna-header">
                                      <div class="qna-label">내용</div>
                                      <span class="qna-content"><%= qna.qna_content %></span>
                                    </div>
                                    <!-- 답변 표시 -->
                                    <div class="qna-header">
                                      <div class="qna-label">답변</div>
                                      <span class="qna-answer"></span>
                                    </div>
                                  </div>
                                  <script>
                                    // 클라이언트 측 스크립트에서 서버에서 전달된 qna 데이터를 사용
                                    const qna = JSON.parse('<%- JSON.stringify(qna) %>'); // JSON 문자열을 파싱하여 JavaScript 객체로 변환
                                    const qnaElement = document.querySelector(`[data-qna-id="${qna.id}"]`);
                                    const qnaAnswerElement = qnaElement.querySelector('.qna-answer');
                                  
                                    async function getQnaAnswer() {
                                      try {
                                        const qnaId = qna.id;
                                        const response = await fetch(`/qnas/${qnaId}/answers`);
                                        if (response.ok) {
                                          const qnaAnswerData = await response.json();
                                          if (qnaAnswerData.length > 0) {
                                            const answerContent = qnaAnswerData[0].answer_content;
                                            // 답변을 화면에 표시
                                            qnaAnswerElement.innerHTML = answerContent;
                                          } else {
                                            // 답변이 없을 경우 메시지 표시
                                            qnaAnswerElement.innerHTML = '답변이 아직 작성되지 않았습니다.';
                                          }
                                        } else {
                                          console.error('답변 데이터를 불러오는데 실패했습니다.');
                                        }
                                      } catch (error) {
                                        console.error('데이터를 불러오는 동안 오류가 발생했습니다.', error);
                                      }
                                    }
                                  
                                    // 페이지 로드 시 답변 가져오기
                                    window.addEventListener('load', getQnaAnswer);
                                  </script>
                                <% }); %>
                              <% } else { %>
                                <p>상품문의가 없습니다.</p>
                              <% } %>
                            </div>
                            <!-- 문의 등록하기 버튼 (우측 하단 고정) -->
                            <button class="btn btn-primary btn-sm float-right ml-2" id="addQuestionButton" style="background-color: #7fad39; color: #ffffff; font-weight: bold; font-size: 14px;">문의 등록하기</button>
                          </div>      
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </section>
              <!-- Product Details Section End -->

              <!-- Related Product Section Begin -->
              <!-- <section class="related-product">
                <div class="container">
                  <div class="row">
                    <div class="col-lg-12">
                      <div class="section-title related__product__title">
                        <h2>Related Product</h2>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-lg-3 col-md-4 col-sm-6">
                      <div class="product__item">
                        <div class="product__item__pic set-bg" data-setbg="/img/product/product-1.jpg">
                          <ul class="product__item__pic__hover">
                            <li>
                              <a href="#"><i class="fa fa-heart"></i></a>
                            </li>
                            <li>
                              <a href="#"><i class="fa fa-retweet"></i></a>
                            </li>
                            <li>
                              <a href="#"><i class="fa fa-shopping-cart"></i></a>
                            </li>
                          </ul>
                        </div>
                        <div class="product__item__text">
                          <h6><a href="#">Crab Pool Security</a></h6>
                          <h5>$30.00</h5>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6">
                      <div class="product__item">
                        <div class="product__item__pic set-bg" data-setbg="/img/product/product-2.jpg">
                          <ul class="product__item__pic__hover">
                            <li>
                              <a href="#"><i class="fa fa-heart"></i></a>
                            </li>
                            <li>
                              <a href="#"><i class="fa fa-retweet"></i></a>
                            </li>
                            <li>
                              <a href="#"><i class="fa fa-shopping-cart"></i></a>
                            </li>
                          </ul>
                        </div>
                        <div class="product__item__text">
                          <h6><a href="#">Crab Pool Security</a></h6>
                          <h5>$30.00</h5>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6">
                      <div class="product__item">
                        <div class="product__item__pic set-bg" data-setbg="/img/product/product-3.jpg">
                          <ul class="product__item__pic__hover">
                            <li>
                              <a href="#"><i class="fa fa-heart"></i></a>
                            </li>
                            <li>
                              <a href="#"><i class="fa fa-retweet"></i></a>
                            </li>
                            <li>
                              <a href="#"><i class="fa fa-shopping-cart"></i></a>
                            </li>
                          </ul>
                        </div>
                        <div class="product__item__text">
                          <h6><a href="#">Crab Pool Security</a></h6>
                          <h5>$30.00</h5>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6">
                      <div class="product__item">
                        <div class="product__item__pic set-bg" data-setbg="/img/product/product-7.jpg">
                          <ul class="product__item__pic__hover">
                            <li>
                              <a href="#"><i class="fa fa-heart"></i></a>
                            </li>
                            <li>
                              <a href="#"><i class="fa fa-retweet"></i></a>
                            </li>
                            <li>
                              <a href="#"><i class="fa fa-shopping-cart"></i></a>
                            </li>
                          </ul>
                        </div>
                        <div class="product__item__text">
                          <h6><a href="#">Crab Pool Security</a></h6>
                          <h5>$30.00</h5>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </section> -->
              <!-- Related Product Section End -->

              <!-- include : footer -->
              <%- include('includes/footer') %>

                <script>
                  //-- 해당 페이지 접근 시 localstorage에 관련내용 저장 --//
                  const createViewedProduct = function () {
                    const productImg = document.getElementById('productImg');
                    const imgUrl = productImg.getAttribute('data-imgbigurl');
                    const currentUrl = window.location.href;

                    // 로컬 스토리지에서 최근 상품 목록 가져오기
                    const viewedProductsData = localStorage.getItem('viewedProducts');
                    let viewedProducts = viewedProductsData
                      ? JSON.parse(viewedProductsData)
                      : [];

                    // 중복 체크 후에 상품 추가 또는 최신으로 올리기
                    const existingProductIndex = viewedProducts.findIndex(
                      (item) => item.currentUrl === currentUrl,
                    );

                    // 중복된 경우
                    if (existingProductIndex !== -1) {
                      const duplicatedProduct = viewedProducts.splice(
                        existingProductIndex,
                        1,
                      )[0];
                      viewedProducts.unshift(duplicatedProduct);
                    } else {
                      viewedProducts.unshift({ imgUrl, currentUrl });

                      // 최대 갯수를 초과하는 경우 가장 오래된 상품 제거
                      if (viewedProducts.length > 10) {
                        viewedProducts.pop();
                      }
                    }

                    // 변경된 최근 상품 목록 로컬 스토리지에 저장
                    localStorage.setItem('viewedProducts', JSON.stringify(viewedProducts));
                  };

                  createViewedProduct();

                  //-- 좋아요 기능 --//
                  document.querySelector('#btnLike').addEventListener('click', () => {
                    const productId = event.target.getAttribute('data-item-id');
                    createLike(productId);
                  });

                  //-- 장바구니 추가 --//
                  document.getElementById('addCartBtn').addEventListener('click', async function addCarts() {
                    const product = document.getElementById('btnLike')
                    const productId = product.getAttribute('data-item-id');
                    const quantity = document.getElementById('quantity_num').value;
                    try {
                      const response = await fetch(`/carts`, {
                        method: 'POST',
                        headers: {
                          'Content-Type': 'application/json',
                        },
                        body: JSON.stringify({ product_id: productId, quantity: quantity }),
                      });
                      const data = await response.json();
                      if (response.ok) {
                        alert('장바구니에 물품이 추가되었습니다.');
                        window.location.reload();
                      } else {
                        alert(data.message);
                      }
                    } catch (err) {
                      console.error('Error:', err);
                    }
                  });
                </script>
  </body>

</html>